<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ejemplo 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

</head>


<div class="container-fluid mt-3" id="app">

    <input type="text" class="form-control" v-model="criterioDeBusqueda"
        placeholder="Ingresar un criterio de busqueda basado en nombre/apellido ...">
    <br>
    <p v-if="getCantFiltroNombre" class="alert alert-warning">
       El minimo para realizar la busqueda es de 3 caracteres.
    </p>
    <input type="text" class="form-control" v-model="criterioDeBusquedaDni"
        placeholder="Ingresar un criterio de busqueda basado en DNI">
        <p v-if="getCantFiltroDni" class="alert alert-warning">
            El minimo para realizar la busqueda es de 3 caracteres númericos.
        </p>
    <br>
    <div class="card-deck m-0">
        <div class="row">
            <div class="col" v-for="persona in personasFiltradas">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{getNombreCompleto(persona)}}</h5>
                        <p class="card-text">dni {{persona.dni}}</p>
                        <a href="#" class="card-link">{{persona.correo}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</html>

<script>
    new Vue({
        el: '#app',
        data: {
            criterioDeBusqueda: '',
            criterioDeBusquedaDni: '',
            //Aquí, en este array es donde tienen que agregar su información
            personas: [
                {
                    nombre: "Daniel",
                    apellido: "Sanchez",
                    correo: "danielsanchez68@hotmail.com",
                    dni: "20442873"
                },
                {
                    nombre: "Bart",
                    apellido: "Simpson",
                    correo: "Bsimps@gmail.com",
                    dni: "40684564"
                },
                {
                    nombre: "Barney",
                    apellido: "Gomez",
                    correo: "Bgomez@gmail.com",
                    dni: "28456214"
                },
                ,
                {
                    nombre: "Marge",
                    apellido: "Simpson",
                    correo: "Msimpson@gmail.com",
                    dni: "22448844"
                },
                ,
                {
                    nombre: "Ned",
                    apellido: "Flanders",
                    correo: "NFland@gmail.com",
                    dni: "22667841"
                },
                ,
                {
                    nombre: "Milhouse",
                    apellido: "Van Houten",
                    correo: "Mil@gmail.com",
                    dni: "40145315"
                },
                ,
                {
                    nombre: "Selma",
                    apellido: "Bouvier",
                    correo: "SelBouv@gmail.com",
                    dni: "254841225"
                },
                {
                    nombre: "Patty",
                    apellido: "Bouvier",
                    correo: "Paty@gmail.com",
                    dni: "254841226"
                },
            ]

        },
        computed: {
            personasFiltradas() {
                return this.personas.filter((persona) => {
                    let registroNombre = `${persona.nombre} ${persona.apellido}`
                    let registroDNI = `${persona.dni}`

                    let flagNombre=true
                    let flagDni=true

                    if (/^[a-zA-Z]+$/.test(this.criterioDeBusqueda) && this.criterioDeBusqueda.length>=3) {
                    
                        flagNombre = registroNombre.toLowerCase().includes(this.criterioDeBusqueda.toLowerCase())
                    }

                    if (!isNaN(this.criterioDeBusquedaDni)&& this.criterioDeBusquedaDni.length>=3) {
                        flagDni = registroDNI.toLowerCase().includes(this.criterioDeBusquedaDni.toLowerCase())
                    }

                    return flagNombre && flagDni
                });
            },
            getCantFiltroNombre(){
                return this.criterioDeBusqueda.length>0 && this.criterioDeBusqueda.length<3
            },
            getCantFiltroDni(){
                return this.criterioDeBusquedaDni.length>0 && this.criterioDeBusquedaDni.length<3
            }
        },
        methods: {
            getNombreCompleto(persona) {
                return `${persona.nombre} ${persona.apellido}`
            }
        }
    });
</script>